* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  position: relative;
}
body img.fixed-image {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  z-index: -5;
  top: 0;
  left: 0;
}
body header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body header section.logo {
  flex: 2 1 320px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
body header section.logo img {
  width: 48px;
  height: 48px;
}
body header section.logo h1 {
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0;
}
body header nav {
  flex: 1 1 400px;
  padding: 0.5rem;
}
body header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
}
body header nav ul li {
  padding: 0 1rem;
}
body header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.2s ease;
}
body header nav ul li a:hover {
  color: rgb(243, 43, 120);
  padding-bottom: 0.3rem;
}
body main section.background-img {
  width: 100%;
  height: 650px;
}
body main section.background-img div#carouselTopImg {
  width: 100%;
  position: absolute;
  z-index: -2;
}
body main section.background-img div#carouselTopImg div.carousel-item {
  height: 650px;
  overflow: hidden;
}
body main section.background-img div#carouselTopImg div.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main section.background-img div.filter {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section.background-img div.filter h3 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
body main section.info-circles {
  background-color: white;
  padding: 2rem 1rem;
}
body main section.info-circles h3 {
  text-align: center;
  font-size: 2rem;
}
body main section.info-circles div.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main section.info-circles div.circles div.circle {
  padding: 1rem;
  flex: 0 1 250px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main section.info-circles div.circles div.circle img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transition: all 0.5s ease;
}
body main section.info-circles div.circles div.circle img:hover {
  transform: scale(1.1, 1.1);
}
body main section.info-circles div.circles div.circle p {
  padding: 1rem;
}
body main section.empty-container {
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section.empty-container h3 {
  color: white;
  font-size: 2rem;
}
body main section.google-map {
  background-color: white;
  padding: 2rem 1rem;
  min-height: 60vh;
  text-align: center;
}
body main section.google-map h3 {
  font-size: 2rem;
}
body main section.google-map p {
  font-size: 1.2rem;
  margin: 1rem;
}
body main section.google-map iframe {
  width: 80%;
  min-height: 50vh;
}
body footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
}
body footer h3 {
  font-size: 2rem;
  color: white;
}
body footer a {
  padding: 0.5rem;
}
body footer a:hover img {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 700px) {
  header section.logo {
    justify-content: center;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */